@model Employee_ManagementSystem.Models.Bio

@{
    ViewData["Title"] = "Delete";
}

<div class="row pt-4 pb-4">
    <div class="col-6" style="text-align:left;">
        <h1>Delete Bio Data</h1>
    </div>

    <div class="col-6">
        <a class="btn btn-warning" asp-action="Index"><i class="fa-solid fa-person-walking-arrow-loop-left"></i>&nbsp; Back to List</a>
    </div>
</div>

<h5 class="text-danger">Are you sure you want to delete this Employee's Bio Data?</h5>
<div>
    <h4>Bio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfResumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfResumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialHandles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialHandles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @* <a asp-action="Index">Back to List</a> *@
    </form>
</div>
