@model Employee_ManagementSystem.Models.Bio

@{
    ViewData["Title"] = "Details";
}

<div class="row pt-4 pb-4">
    <div class="col-6" style="text-align:left;">
        <h1>Employee Bio Data Details</h1>
    </div>

    <div class="col-6">
        <a class="btn btn-warning" asp-action="Index"><i class="fa-solid fa-person-walking-arrow-loop-left"></i>&nbsp; Back to List</a>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfResumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfResumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialHandles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialHandles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa fa-pencil"></i>&nbsp;Edit</a> |
    @* <a asp-action="Index">Back to List</a> *@
</div>
